.container-task {
  margin-bottom: 70px;
}

//Task-list
.button {
  cursor: pointer;
}

.badge {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: fit-content;
}
.chosen {
  opacity: 0.9;
  scale: 1.15;
}

.loading {
  right: 10px;
  left: calc(var(--search-button-width) + 16px);
  top: 50%;
  transform: translateY(-50%);
  color: rgba(22, 24, 35, 0.34);
  background: transparent;
  cursor: pointer;
}
