.container-task {
  margin-bottom: 70px;
}

//Task-list
.button {
  cursor: pointer;
}

.badge {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: fit-content;
}
.chosen {
  opacity: 0.9;
  scale: 1.15;
}
